.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  font-size: 14px;
  background: var(--light-color);
  color: #333;
}
:root {
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}
.alert-success {
  background: var(--success-color);
  color: white;
}
